<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{80,83}</string>
                <key>spriteSourceSize</key>
                <string>{90,85}</string>
                <key>textureRect</key>
                <string>{{78,147},{80,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>go.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{229,75}</string>
                <key>spriteSourceSize</key>
                <string>{247,85}</string>
                <key>textureRect</key>
                <string>{{1,1},{229,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>home.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{160,147},{60,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>replay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{222,71}</string>
                <key>spriteSourceSize</key>
                <string>{230,85}</string>
                <key>textureRect</key>
                <string>{{78,74},{222,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>return.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{56,57}</string>
                <key>spriteSourceSize</key>
                <string>{90,99}</string>
                <key>textureRect</key>
                <string>{{222,147},{56,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tohome.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{224,71}</string>
                <key>spriteSourceSize</key>
                <string>{230,83}</string>
                <key>textureRect</key>
                <string>{{78,1},{224,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>button1.png</string>
            <key>size</key>
            <string>{303,231}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:231260866c3db3726c5775b9b2bacc3e:2aa2b2d732ef08b231e845e27992a776:b99ab65727096da0bef75444716fb5b3$</string>
            <key>textureFileName</key>
            <string>button1.png</string>
        </dict>
    </dict>
</plist>
